@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

.list {
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  list-style-type: none;
}

.item {
  padding-bottom: 1%;
}

.button {
  font-family: "Cinzel", serif;
  font-size: 14px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
