.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.item {
  flex-basis: 20%;
  padding-bottom: 1%;
}

.button {
  font-size: 15px;
  width: 200px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
